*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .container {
        max-width: 100%;
        padding: 0;
        margin: 0 auto;
    }
}

.header {
    padding: 18px 0 13px 0;
}


@media (max-width: 700px) {
    .header {
        padding: 15px 42px;

    }
}

.header__top {

}


.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 154px;
}

@media (max-width: 1121px) {
    .logo {
        max-width: 130px;
    }
}


.logo__link {
}

.logo__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    border-bottom: 5px solid #6D7A8A;
}


.logo__paragraph {
    font-weight: 400;
    font-size: 16px;
    text-align: center;

}


.language {
    order: 2;
}

@media (max-width: 1121px) {
    .language {
        order: 1;
    }
}

.language__list li {
    display: block;
    padding: 0 6px;
    color: #6D7A8A;
    line-height: 15px;
    text-decoration: none;
    border-right: 1px solid #6D7A8A;

}

@media (max-width: 1121px) {
    .language__list li {
        gap: 3px;
        line-height: 30px;
        border-right: 2px solid #6D7A8A;
    }
}


.language__list li:last-child {
    border-right: none;
}

.language__list {
    list-style-type: none;
    display: flex;

}

.language__item {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

@media (max-width: 1121px) {
    .language__item {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #6D7A8A;
    }
}


.language_link {
}

.language__list li:active {
    color: #6D7A8A;
}

@media (max-width: 1121px) {
    .language__list li:active {
        font-weight: 600;
    }
}

.language__list li:hover {
    color: #6D7A8A;
}

@media (max-width: 1121px) {
    .language__list li:hover {
        font-weight: 600;
    }
}


.about {
    background-image: url("/img/12.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}


@media (max-width: 700px) {
    .about {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5886948529411764) 0%, rgba(255, 255, 255, 0.23295255602240894) 100%), url("/img/12.jpg");;
    }
}

.about__inner {
    padding: 32px 0 52px 0;
}

@media (max-width: 700px) {
    .about__inner {
        height: 100%;
        padding: 23px 0 56px 0;
    }
}

.about__text {
    width: 438px;
    margin-right: 40px;
}

@media (max-width: 700px) {
    .about__text {
        width: 100%;
        padding: 0 40px;

    }
}

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    color: #6D7A8A;
}

@media (max-width: 700px) {
    .title {
        padding-left: 40px;
    }
}


.about__text_paragraph {
    padding-top: 26px;
    font-weight: 400;
    font-size: 18px;
}

.about__img {

}

.about__img img {
    height: 360px;
    width: 600px;
    object-fit: cover;

}

.services {
}

@media (max-width: 700px) {
    .container.services {
        max-width: 100%;
        padding: 0;
    }
}


.services__inner {
    margin: 32px 0 48px 0;
}

.services__items {
}

.services__item {
    display: flex;
    border-bottom: 1px solid #6D7A8A;
    padding: 20px 0;
    align-items: center;
}

@media (max-width: 700px) {
    .services__item {
        flex-direction: column;
        padding: 32px 0;
    }
}

.services__item:last-child {

    border-bottom: 0 solid #6D7A8A;


}

.services__item-img {
    width: 52px;
    height: 52px;
    object-fit: contain;
}

.services__item-box {
    padding-left: 38px;
}

@media (max-width: 700px) {
    .services__item-box {
        padding: 0 40px;
    }
}

.text-title {
    font-weight: 500;
    font-size: 20px;
    color: #6D7A8A;
}

@media (max-width: 700px) {
    .text-title {
        text-align: center;
        padding-top: 16px;
    }
}

.services__item-text {
    font-weight: 400;
    font-size: 16px;
    padding-top: 8px;
}

.last {
}

.offer {
    background-color: #F0F2F3;
    padding: 32px 0 58px 0;
}

@media (max-width: 700px) {
    .offer {
        background-color: #F0F2F3;
        padding: 32px 0;
    }
}

.offer__inner {
    padding-top: 32px;
    display: flex;
    gap: 15px;
}

@media (max-width: 700px) {
    .offer__inner {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 24px 15px 0 15px;
    }
}

.offer__box {
    background-color: #F8F9F9;
    border: 1px solid #6D7A8A;
    border-radius: 15px;
    padding: 20px 34px;
    width: 370px;
    min-height: 580px;
}


@media (max-width: 1121px) {
    .offer__box {
        padding: 15px;
    }
}

@media (max-width: 700px) {
    .offer__box {
        padding: 32px;
        width: 100%;
        min-height: 100%;
    }
}

.offer-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #6D7A8A;
    height: 50px;
}

@media (max-width: 1121px) {
    .offer-title {
        text-align: left;
    }
}

.offer__text {
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
}

.certifications {
    padding: 32px 0 59px 0;
}

.certifications__inner {
}

.certifications__reward {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 32px 0 59px 0;
}

@media (max-width: 700px) {
    .certifications__reward {
        display: grid;
        grid-template-columns: 20% 20% 20%;
        gap: 24px;
        justify-items: center;

    }
}

.certifications__reward img {
    max-height: 90px;
    object-fit: contain;

}

.certifications__boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

@media (max-width: 1121px) {
    .certifications__boxes {
        grid-template-columns: 1fr 1fr;

    }
}

@media (max-width: 700px) {
    .certifications__boxes {
        grid-template-columns:  215px;
        justify-content: center;

    }
}

.certifications__box {
    border: 1px solid #6D7A8A;
    border-radius: 15px;
    height: 255px;
    padding: 18px;
}

@media (max-width: 1121px) {
    .certifications__box {
        display: flex;
        flex-direction: column;
        height: 300px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1121px) {
    .certifications__box {
        height: 100%;

    }
}


.certifications__img img {
    height: 126px;
    object-fit: contain;
}

@media (max-width: 1121px) {
    .certifications__img {
        display: flex;
        justify-content: center;
        height: 200px;
    }
}

@media (max-width: 700px) {
    .certifications__img {
        display: flex;
        justify-content: center;
        height: 126px;
    }
}


@media (max-width: 1121px) {
    .certifications__img img {
        height: 200px;
        padding-bottom: 35px;
    }
}

@media (max-width: 700px) {
    .certifications__img img {
        height: 126px;
        padding-bottom: 0;
    }
}

.certifications__img {
    padding-bottom: 35px;
    border-bottom: 1px solid #6D7A8A;
}

@media (max-width: 1121px) {
    .certifications__img {
        padding-bottom: 47px;

    }
}

@media (max-width: 700px) {
    .certifications__img {
        padding-bottom: 0;

    }
}

.certifications__text {
    padding-top: 8px;
    font-weight: 500;
    font-size: 14px;
    color: #6D7A8A;
    display: flex;
    text-align: left;

    justify-content: center;
}


.history {
    padding: 32px 0 38px 0;
    background-color: #F0F2F3;
}

@media (max-width: 700px) {
    .history {
        padding: 32px 0 40px 0;
    }
}

.history__inner {
    padding: 23px 0 38px 0;

    display: flex;
    gap: 51px;
    justify-content: space-between;
    align-items: start;
}

@media (max-width: 1121px) {
    .history__inner {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .history__inner {
        display: block;
        justify-content: center;
        padding: 0 40px 24px 40px;
    }
}

.history__img {
    width: 551px;
    height: 551px;
    object-fit: contain;
}

@media (max-width: 700px) {
    .history__img {
        height: auto;
        width: auto;
        object-fit: contain;
    }
}

@media (max-width: 700px) {
    .history__img img {
        padding: 24px 0;
        width: 100%;

        object-fit: contain;
    }
}

.history__text {
    font-weight: 400;
    font-size: 16px;
}

.swiper {
    border-top: 1px solid #6D7A8A;

}

.mySwiper {

}

.swiper-wrapper {
    padding-top: 40px;
}

@media (max-width: 700px) {
    .swiper-wrapper {
        padding: 40px 40px 0 40px;
    }
}

.swiper-slide {
    background-color: #F0F2F3;

}

.history__slide {
    min-height: 541px;
    background-color: #F0F2F3;
}

.history__slide-title {
    font-weight: 500;
    font-size: 20px;
    color: #6D7A8A;
    text-align: start;
}

.history__slide-text {
    padding-top: 24px;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    color: #000000;
}

.swiper-pagination {
}

.letters {
}

.certifications.letters {
    padding-bottom: 32px;
}

@media (max-width: 700px) {
    .certifications__boxes.letters {
        grid-template-columns: 260px;
        grid-gap: 0;
        padding-top: 33px;
    }
}

.certifications__boxes.letters {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 34px;
    padding-top: 33px;

}


@media (max-width: 1121px) {
    .certifications__boxes.letters {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding-top: 33px;
    }
}

@media (max-width: 700px) {
    .certifications__boxes.letters {
        grid-template-columns: 260px;
        grid-gap: 0;
        padding-top: 33px;
    }
}

.certifications__box.letters {
    height: 370px;
    padding: 18px;
    text-align: center;
}

@media (max-width: 1121px) {
    .certifications__box.letters {
        height: 470px;
    }
}

@media (max-width: 700px) {
    .certifications__box.letters {
        height: 350px;
        padding: 16px 40px 29px 40px;
    }
}


.certifications__img.letters img {
    height: 200px;

}

@media (max-width: 1121px) {
    .certifications__img.letters {
        height: 300px;
    }
}

@media (max-width: 700px) {
    .certifications__img.letters {
        height: 142px;
    }
}

@media (max-width: 1121px) {
    .certifications__img.letters img {
        height: 300px;
    }
}

@media (max-width: 700px) {
    .certifications__img.letters img {
        height: 142px;
    }
}


.certifications__img.letters {
    padding-bottom: 0;
    border-bottom: 0;
}

.certifications__text.letters {
    padding-top: 24px;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    color: #6D7A8A;
}


.contact {
    padding: 32px 0 77px 0;
    background-image: url("/img/44 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1121px) {
    .contact {
        background-position: center;
    }
}

@media (max-width: 700px) {
    .contact {
        padding: 32px 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.82) 0%, rgba(255, 255, 255, 0.81) 100%), url("/img/44 2.jpg");;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
    }
}

.container.contact img {
    object-fit: contain;
}

.contact__inner {
    padding: 32px 0 85px 0;

}

@media (max-width: 700px) {
    .contact__inner {
        padding: 0 40px;

    }
}

.contact__address {

    padding-top: 57px;
    align-items: center;
}

@media (max-width: 700px) {
    .contact__address {

        padding-top: 26px;

    }
}

.contact__address h3 {
    font-weight: 600;
    font-size: 20px;
}

.contact__address p {
    padding: 30px 0;
    font-weight: 400;
    font-size: 16px;
}


footer {
    background-color: #F0F2F3;
}

.logo.footer-bottom {
    width: 60%;
}

.footer__inner {
    padding: 30px 0;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 8px;
}

@media (max-width: 700px) {
    .footer__inner {
        padding: 30px 40px;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;
    }
}

.footer__copyright {
    order: 2;
}

@media (max-width: 700px) {
    .footer__copyright {
        order: 5;
    }

}

.footer__copyright p {
    font-weight: 400;
    font-size: 16px;
    color: #6D7A8A;
}

@media (max-width: 1121px) {
    .footer__copyright p {
        font-size: 12px;
    }
}

.footer__back-up {
    order: 3;
}

@media (max-width: 700px) {
    .footer__copyright {
        order: 5;
        width: 100%;
    }

}

@media (max-width: 700px) {
    .footer__back-up {
        width: 20%;
        display: flex;
        justify-content: end;
    }

}


.footer__links {
    order: 4;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.footer__links a {
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: underline;
    color: #6D7A8A;
}

@media (max-width: 1121px) {
    .footer__links a {
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .footer__links {

        justify-content: center;
        order: 4;
        width: 100%;
    }

}


.footer__social {
    order: 5;
    display: flex;
    gap: 8px;
}


@media (max-width: 700px) {
    .footer__social {
        padding: 0 20px;
        width: 20%;
        order: 2;
        justify-content: center;
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
}

ul.slick-dots {
    margin: 0;
    padding: 0;
}


.slick-dots li {
    padding-right: 8px;
}


.slick-dots button {
    font-size: 0;
    padding: 0;
    border: none;
    background-color: rgba(109, 122, 138, 0.3);;
    width: 12px;
    height: 12px;
    cursor: pointer;
    transition: all 0.3s;
}

.slick-active button:hover, .slick-active button {
    background-color: #6D7A8A;

}

